VITE_FAUCET_ADDRESS="YOUR_FAUCET_ADDRESS"
VITE_BOUNTY_FACTORY="YOUR_BOUNTY_FACTORY_ADDRESS_HERE"
VITE_BSC_TESTNET_RPC="https://bsc-testnet-rpc.publicnode.com"
VITE_TASK1_TOKEN="YOUR_TOKEN_ADDRESS_HERE"
VITE_TASK2_TOKEN="YOUR_TOKEN_ADDRESS_HERE"
